body {
  margin: 0;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Calendar overrides */
.fc .fc-toolbar-title {
  font-size: 1.5rem;
}

.fc .fc-button {
  padding: 0.4rem 0.65rem;
  font-size: 0.85rem;
}

.fc .fc-event {
  cursor: pointer;
}
